* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: sans-serif;
  color: #666;
  margin: 0 auto;
  /* background-color: lightblue; */
  /* text-align: center; */
}

input {
  border-radius: 8px;
  padding: 5px 16px;
  margin: 5px 10px;
}

textarea {
  border-radius: 8px;
  padding: 5px 16px;
  margin: 5px 10px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

.menu {
  width: 420px;
  display: flex;
  justify-content: end;
  margin: 8px auto;
}

.login-area {
  border: 2px solid #aacfd0;
  border-radius: 8px;
  width: 420px;
  padding: 16px;
  margin: 8px auto;
}

th {
  padding: 0 16px;
  width: 100px;
}

td {
  padding: 0 8px;
  width: 200px;
}

.input-area {
  background-color: #c6e5d9;
  width: 420px;
  padding: 16px;
  margin: 8px auto;
  border-radius: 8px;
}

.incomplete-area {
  border: 2px solid #aacfd0;
  width: 420px;
  min-height: 200px;
  padding: 16px;
  margin: 8px auto;
  border-radius: 8px;
}

.complete-area {
  border: 2px solid #aacfd0;
  width: 420px;
  min-height: 200px;
  padding: 16px;
  margin: 8px auto;
  border-radius: 8px;
  background-color: #c9dede;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
}

.list-title1 {
  width: 170px;
}

.list-title2 {
  width: 225px;
}

.list-button {
  display:flex;
}

.todo-item {
  margin: 6px;
}

.danger-button {
  display: block;
  margin: 0 auto;
  width: 160px;
  background-color: #79a8a9;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.danger-button:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

canvas {
  background-size: contain;
  background-repeat: no-repeat;
}

#screenshotArea {
  background-color: #c9dede;
}
